.heading-primary {
  font-family: young serif, sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.heading-secondary {
  font-family: young serif, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-brown);
  margin-bottom: 1rem;
}

.heading-tertiary {
  font-size: 1.8rem;
}


.bold-text {
  font-weight: 700;
}